{% extends 'base.html' %}

{% block title %}
    Connexion
{% endblock %}

{% block content %}
    <h1>Connexion</h1>
    {% if form.errors %}
        <p>Vérifier Vos Paramètres de Connexion</p>
    {% else %}
        <p>Utiliser Le Formulaire ci-Dessous pour Vous Connecter</p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="next" value="{{ next }}">
            <p><input type="submit" value="Connexion"></p>
        </form>
    </div>
{% endblock %}