{% load staticfiles %}
<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} Social Network{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'js/jquery-ui.min.css' %}">

</head>
<body>

    <div id="header">
        <span class="logo">Bookmarks</span>
        {% if request.user.is_authenticated %}
            <ul class="menu">
                <li {% if section == "dashboard" %} class="selected" {% endif %}><a href="{% url 'comptes:dashboard' %}">Dashboard</a></li>
                <li {% if section == "images" %} class="selected" {% endif %}><a href="#"></a></li>
                <li {% if section == "people" %} class="selected" {% endif %}><a href="#"></a></li>
            </ul>
        {% endif %}

        <span class="user">
            {% if request.user.is_authenticated %}
                Bienvenus {{ request.user.username }}, <a href="{% url 'comptes:logout' %}">Deconnexion</a>
            {% else %}
                <a href="{% url 'comptes:login' %}">Connexion</a>
            {% endif %}
        </span>
    </div>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">
                    {{ message|safe }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <div id="container">
        {% block content %}
        {% endblock %}
    </div>

    <script src="{% static 'js/external/jquery/jquery.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.css' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <script>
      $('.datepicker').datepicker({
        format: 'dd/mm/yyyy',
        startDate: '-3d'
    });
    </script>
</body>
</html>