{% load staticfiles %}

<!doctype html>
<html lang="fr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% include 'css.html' %}
    {% block base_head %}{% endblock %}
    <title>{% block title %} Social Network{% endblock %}</title>
  </head>
  <body>
    {% include 'navbar.html' with brand_name="Bookmark" %}
     <div class="container">
        <div class="text-center">
            {% if messages %}
                <ul class="text-success">
                    {% for message in messages %}
                        <h3 class="{{ message.tags }}">
                            {{ message|safe }}
                        </h3>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

         {% block content %}
            {#le contenu de mon site#}
        {% endblock %}
     </div>

     {% include 'js.html' %}
  </body>
</html>