{% extends 'base.html' %}
{% load bootstrap4 %}

 {% block title %}
    Modifier Votre Mot de Passe | super
 {% endblock %}

{% block content %}
    <div class="col-md-6 offset-3">
        <h1>Modifier Mot de Passe</h1>
        <p>Utiliser le formulaire ci-dessous pour Modifier Votre Mot de Passe</p>
        <form action="." method="post">{% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <p class="text-center">
                    <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-edit" aria-hidden="true"></i> Modifier</button>
                </p>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}
